
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name%></h1>
	<p>
    Your account was verified ,Please click the below link to reset you password.
    <a href="http://sarveshbday.xyz/reset-password/<%= @user.id%>">Password Reset!</a>
	</p>
  </body>
</html>