<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name%></h1>
	<p>
		You are successfully registered with us ,Thank you for your interest. We will  contact you shortly
  		<!-- <a href="http://sarveshbday.xyz/profile" target="_blank">Click here to update your account</a> -->
	</p>
  </body>
</html>