<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Following Startup <%= @startup_app.startup_name%> have some queries.</h1>
   <h3><b>Subject:</b> <%= @values[:subject]%></h3>
	 <h4><b>Description:</b> <%= @values[:description]%></h4>
	 <h4>Startup email id: <%= @startup_app.founder_email %></h4>
  </body>
</html>