
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name%></h1>
	<p>
    <%= @current_user.full_name%> was added you as a <%= @user.user_type %> user in Cohort programs,Please click the below link to activate your account and set your password.
    <a href="http://sarveshbday.xyz/reset-password/<%= @user.id%>">Create Password!</a>
	</p>
  </body>
</html>