<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @startup.startup_name%></h1>
	<p>
		Congrats!! You have successfully accepted for cohort program, You will shortly received contract form.
  		
	</p>
  </body>
</html>