<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @startup.startup_name%></h1>
	<p>
		Congrats!!!!!!!You have successfully passed the initial screen ,please use the below link to fill additional details for further process
  		<a href="http://sarveshbday.xyz/current-state-form/<%= @startup.id %>">Click here to update your account</a>
	</p>
  </body>
</html>