<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @startup.startup_name%></h1>
	<p>
		Congrats!!!You are shortlisted for initial phase. Kindly use the below link to fill the additional details for further process.
  		<a href="http://sarveshbday.xyz/current-state-form/<%= @startup.id %>">Click here to fill up current state form.</a>
	</p>
  </body>
</html>