<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
	<p>
		New startup has been registered in our system with the following details.
	</p>
  <p><b>Program title:</b> <%= @program.title%></p>
  <p><b>Startup name:</b> <%= @startup.startup_name %></p>
  <p><b>Startup email:</b> <%= @startup.founder_email %></p>

  <a href="http://sarveshbday.xyz/admin/dashboard/program-controls">Link to dashboard</a>
  </body>
</html>