<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @startup.startup_name%>,</h1>
	<p>
		Congrats!!!Your application was registered successfully.
	</p>
  <p>
    Our experts are evaluating your application for further proccess, Appreciate your patience.
  </p>
  </body>
</html>