<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name%></h1>
	<h4>
		Congrats!!Your contract form is approved. New profile has been created for your startup.
	</h4>
  <h4>Your credentials</h4>
    Email: <%= @user.email%>
    password: <%= @password%>
    <p>Please user the below link to login</p>
    <a href="http://sarveshbday.xyz/login">Login</a>
  </body>
</html>